@media only screen and (min-width: 1024px) {

    nav ul li a {
        font-size: 1.2em;
    }

    .main-image {
        width: 100%;
    }

    .weather-group {
        display: inline-flex;
        width: 100%;
        align-items: center;
    }

    .weather-block {
        width: auto;
    }

    .temperature {
        text-align: left;
        width: auto;
        padding-left: 3em;
    }

    .precip-wind {
        text-align: left;
        width: auto;
        padding-left: 3em;
    }

    .gallery-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery-grid img:hover {
        box-shadow: 5px 5px 10px gray;
    }

    fieldset {
        width: 48%;
    }
}