@import url(https://fonts.googleapis.com/css?family=Ubuntu);
body {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

table {
    box-shadow: 5px 5px 20px #628ca6;
    border-collapse: collapse;
}

thead tr:first-child th {
    background-color: #7fb9c2;
    font-weight: bold;
    font-size: 1.3em;
}

thead tr:nth-child(2) th {
    color: white;
    background-color: #628ca6;
}

td,
th {
    padding: 0.3em 0.6em;
    text-align: center;
}

table,
td,
th {
    border: 1px solid #bbbbbb;
}

tbody tr:nth-child(odd) td {
    background-color: #e7f0ed;
}

tbody tr:nth-child(even) td {
    background-color: #e7ffed;
}

tbody tr:nth-child(4) td:nth-child(3) {
    color: white;
    background-color: #628ca6;
}

tbody tr:nth-child(5) td:first-child {
    font-style: italic;
}

tfoot td {
    background-color: #7fb9c2;
    font-size: 0.6em;
    font-weight: bold;
    padding: 1em;
}