table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

table th:nth-child(2) {
  text-align: center;
}

table td:nth-child(2) {
  text-align: right;
  width: 30%;
}

table tr:nth-child(even) {
  background-color: #dddddd;
}