/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: sans-serif/* Ubuntu, sans-serif */;
    color: #552c00;
}

h1 {
    font-size: 2.0rem/* x.xrem  (rem is a unit of measure) */;
    color: #ffd6aa/* #xxxxxx */;
}

h2 {
    font-size: 1.5rem/* x.xrem */;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 900px/* xxxpx (px = pixel is a unit of measure)  */;
}

header, footer, footer a {
    text-align: center;
    background-color: #aa7339/* */;
    color: whitesmoke;
}

header img {
    width: /*  */;
    height: auto;
    float: right;
    border-radius: 50%;
}

footer {
    font-size: 0.7rem/* smaller */;
}