* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Sansito", "Ubuntu", sans-serif;
}

h1,
h2,
h3 {
    color: #7c8855;
    font-weight: 600;
}

h1 {
    font-size: 25px;
}

header {
    background-color: #a3bb49;
    padding: 0.5rem;
}

main {
    min-height: 5px;
}

main img {
    width: 128px;
    height: auto;
}

footer {
    clear: both;
    text-align: center;
    padding: 1em;
    background-color: #a3bb49;
    color: #fff;
    font-size: 0.8rem;
}

/* Class Selectors *******************/

.profile {
    box-shadow: 0.25rem 0.25rem 0.25rem #ccaabb;
    border: 1px solid #777;
}